<body>
	<div id="interface"></div>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
 	<script src="/js/three.min.js"></script>
  	<script src="/js/map.js"></script>
  	<script src="/js/skill.js"></script>
 	<script src="/js/player.js"></script>
 	<script src="/js/creation.js"></script>
	<script src="/js/alien.js"></script>
</body>